# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/TiltFiveCHOP.xcodeproj
/.vs/TiltFiveCHOP
/Debug
/Info.plist
/Main.1.toe
/TiltFiveCHOP.vcxproj
/TiltFiveCHOP.vcxproj.filters
/TiltFiveCHOP.vcxproj.user
